{% extends "base.html" %}
{% block title %}chane shop Password{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
.pro{
    margin-top: 100px;
}


</style>
{% endblock %}


{% block content %}

{% if "seller" in session %}
{% set img = "front/img/" + shops.2 %}

<div class="pro">
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-5 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                    width="150px"
                    src={{ url_for("static", filename= img )}} ><span
                    class="font-weight-bold">shopId</span><span
                    class="text-black-50">{{session["seller"]}}</span><span> </span>
                    <form action="/userImageUploader" method="post"enctype="multipart/form-data">
                        <div class="input-group">
                            <input type="file" name="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                            <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">Change Image</button>
                        </div>
                    </form>     
                </div>
            </div>
            <div class="col-md-6 border-right">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                    {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                    </ul>
                {% endif %}
                {% endwith %}
                <form class="row g-6"  action="/changeShopPassword" method="post">
                    <div class="col-auto">
                      <label for="staticEmail2" class="visually-hidden">Old Password</label>
                      <input type="text" class="form-control"  id="staticEmail2" name="old" placeholder="old password">
                    </div>
                    <div class="col-auto">
                      <label for="inputPassword2" class="visually-hidden">New Password</label>
                      <input type="password" class="form-control" id="inputPassword2" name="new" placeholder="new Password">
                    </div>
                    <div class="col-auto">
                        <label for="inputPassword2" class="visually-hidden">confirm Password</label>
                        <input type="password" class="form-control" id="inputPassword2" name="confirm" placeholder="confirm Password">
                      </div>
                    <div class="col-auto">
                      <button type="submit" class="btn btn-primary mb-3">Change</button>
                    </div>
                  </form>
                
            </div>
        </div>
    </div>
</div>
</div>
</div>

{% endif %}

{% endblock %}