{% extends "base.html" %}
{% block title %}Checkout{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
  .m {
    margin: 0px 0px;
  }

  .s {
    margin: 42px -26px;
  }
</style>
{% endblock %}


{% block content %}


<!--================Checkout Area =================-->
<!--================Checkout Area =================-->
<section class="checkout_area padding_top">
  <div class="container">
    <div class="billing_details">
      <div class="row">
        <div class="col-lg-8">
          <h3>Billing Details</h3>
          <form class="row contact_form" action="#" method="post" novalidate="novalidate">

            <div class="col-md-12 form-group">
              <textarea class="form-control" name="message" id="message" rows="1" placeholder="Address"></textarea>
            </div>
          </form>
        </div>
        <div class="col-lg-4">
          <div class="order_box">
            <h2>Your Order</h2>
            <table class="table site-block-order-table mb-5">
              <thead>
                <th>Product</th>
                <th>Total</th>
              </thead>
              <tbody id="cartTable">

              </tbody>
              <tbody>
                <tr>
                  <td class="text-black font-weight-bold"><strong>Cart Subtotal</strong></td>
                  <td class="text-black"><strong id="subTotal">0</strong><span>Tk</span></td>
                </tr>
                <tr>
                  <td class="text-black font-weight-bold"><strong>Order Total</strong></td>
                  <input type="hidden" name="total" id="totalCost">
                  <input type="hidden" name="all" id="all">
                  <td class="text-black font-weight-bold"><strong id="totalPrice">0</strong><span> Tk</span></td>
                </tr>
              </tbody>
            </table>
            <div class="payment_item">
              <div class="radion_btn">
                <input type="radio" id="f-option5" name="selector" />
                <label for="f-option5">Cash On delivery</label>
                <div class="check"></div>
              </div>
            </div>
            <div class="payment_item active">
              <div class="radion_btn">
                <input type="radio" id="f-option6" name="selector" />
                <label for="f-option6">Bikash</label>
                <img src="img/product/single-product/card.jpg" alt="" />
                <div class="check"></div>
              </div>
            </div>
            <div class="payment_item active">
              <div class="radion_btn">
                <input type="radio" id="f-option6" name="selector" />
                <label for="f-option6">Nogod</label>
                <img src="img/product/single-product/card.jpg" alt="" />
                <div class="check"></div>
              </div>
            </div>
            <a class="btn_3" href="#">Proceed to Paypal</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Checkout Area =================-->
<!--================End Checkout Area =================-->


<script>

  let catchProduct=[];


  function updateHtml() {
    let value = JSON.parse(localStorage.getItem("product"));
    const empty = [];
    const cartTable = document.getElementById('cartTable');

    value.forEach((element) => {
      let html = tableRow(element.name, element.total, element.quantity);
      empty.push(html);
      cartTable.innerHTML = empty.join('');

    });
    console.log(empty);

  }

  function restore() {
    let restoreLocalValue = parseInt(localStorage.getItem('count'));
    const cartCounter = document.getElementById("cartCounter");
    if (restoreLocalValue) {
      cartCounter.textContent = restoreLocalValue;
      subTotalPlus();
    }


  }


  function subTotalPlus() {
    const subTotal = document.querySelector("#subTotal");
    const totalPrice = document.querySelector("#totalPrice");
    const totalCost = document.querySelector("#totalCost");
    // let productTotal=JSON.parse(localStorage.getItem('product'));
    // let sum=0;
    // for(let i=0;i<productTotal.length;i++){
    //   sum = sum + parseInt(productTotal[i].total);
    //   console.log(sum);

    // }
    // localStorage.setItem('subTotal',sum);
    let catchTotal = localStorage.getItem('subTotal');
    subTotal.innerHTML = catchTotal;
    totalPrice.innerHTML = parseInt(catchTotal) + 50;
    totalCost.value=parseInt(catchTotal)+50
    getValue();
  }

  function getValue(){

    const catchValue =localStorage.getItem('product');




    const all=document.getElementById("all");
    all.value=catchValue;

  }



  function tableRow(productName, price, quantity) {
    return `<tr>
      <input type="hidden" value="${productName},${quantity},${price}" name="product_details">
      <input type="hidden" value="${price}">
      <input type="hidden" value="${quantity}" name="product">
      <td>${productName}<strong class="mx-2">x</strong>${quantity}</td>
      <td>${price}</td>
    </tr>`;
  }

  window.addEventListener('load', () => {
    updateHtml();
    restore();
  })


</script>

{% endblock %}