{% extends "base.html" %}
{% block title %}Checkout{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
  .m{
    margin: 0px 0px;
  }

  .s{
    margin: 42px -26px;
  }

</style>
{% endblock %}


{% block content %}


<!--================Checkout Area =================-->
<section class="checkout_area padding_top">
  <div class="container">
    <div class="billing_details">
      <div class="row">
        <div class="col-lg-8">
          <h3>Billing Details</h3>
          <form class="row contact_form" action="/checkout/{{ single_product.0 }}" method="post">
            <div class="form-floating">
              <label for="floatingTextarea2">Address</label>
              <textarea class="form-control" name="address" placeholder="Give your address in Details" id="floatingTextarea2" style="width: 500px; height: 100px"></textarea>
              
              <div>
                <br>
                <h3>Payment Method</h3>
                <div class="form-check m">
                  <input class="form-check-input s" type="radio" name="selector" value="cash on delivery" id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1">
                    Cash on delivery
                  </label>
                  <img width="100px" height="100px" src={{url_for("static", filename="front/img/icon/cash.jpg" )}} alt="">
                </div>

                <br>
                <div class="form-check m">
                  <input class="form-check-input s" type="radio" name="selector" value="Bikash" id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1">
                    Bikash
                  </label>
                  <img width="200px" height="100px" src={{url_for("static", filename="front/img/icon/bikash.svg" )}} alt="">
                  <img src="" alt="">
                </div>

                <br>
                <div class="form-check m">
                  <input class="form-check-input s" type="radio" name="selector" value="Nogod" id="flexRdioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1">
                    Nogod
                  </label>
                  <img width="100px" height="100px" src={{url_for("static", filename="front/img/icon/nogod.svg" )}} alt="">
                </div>
              </div>
            </div>



        </div>
        <div class="col-lg-4">
          <div class="order_box">
            <h2>Your Order</h2>
            <ul class="list">
              <li>
                <a href="#">Product
                  <span>Total</span>
                </a>
              </li>
              <li>
                <a href="#">{{ single_product.1 }}
                  <!--<span class="middle">x 02</span>-->
                  <span class="last">{{ single_product.3 }}</span>
                </a>
              </li>
            </ul>
            <ul class="list list_2">
              <!--<li>
                <a href="#">Subtotal
                  <span>$2160.00</span>
                </a>
              </li>-->
              <li>
                <a href="#">Shipping Charge
                  <span>100Tk</span>
                </a>
              </li>
              <li>
                <a href="#">Total
                  <span>{{ single_product.3|int + 100 }}</span>
                </a>
              </li>
            </ul>
            <br>
            <br>

            <!--<a class= href="/order/{{ single_product.0 }}">Confirm Order</a>-->
            <button class="btn_3" type="submit">confirm Order</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  </form>
</section>
<!--================End Checkout Area =================-->

{% endblock %}