{% extends "base.html" %}
{% block title %}Checkout{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">

</style>
{% endblock %}


{% block content %}


<!--================Checkout Area =================-->
<section class="checkout_area padding_top">
  <div class="container">
    <div class="billing_details">
      <div class="row">
        <div class="col-lg-8">
          <h3>Billing Details</h3>
<form class="row contact_form" action="/order/{{ single_product.0 }}" method="post" >
            <div class="col-md-6 form-group p_star">
              <input type="text" class="form-control" id="first" name="firstName" />
              <span class="placeholder" data-placeholder="First name"></span>
            </div>
            <div class="col-md-6 form-group p_star">
              <input type="text" class="form-control" id="last" name="lastName" />
              <span class="placeholder" data-placeholder="Last name"></span>
            </div>

            <div class="col-md-6 form-group p_star">
              <input type="text" class="form-control" id="number" name="number" />
              <span class="placeholder" data-placeholder="Phone number"></span>
            </div>
            <div class="col-md-6 form-group p_star">
              <input type="email" class="form-control" id="email" name="email" />
              <span class="placeholder" data-placeholder="Email Address"></span>
            </div>
            <div class="col-md-12 form-group p_star">
              <input type="text" class="form-control" id="add1" name="address" />
              <span class="placeholder" data-placeholder="Address"></span>

            </div>

        </div>
        <div class="col-lg-4">
          <div class="order_box">
            <h2>Your Order</h2>
            <ul class="list">
              <li>
                <a href="#">Product
                  <span>Total</span>
                </a>
              </li>
              <li>
                <a href="#">{{ single_product.1 }}
                  <!--<span class="middle">x 02</span>-->
                  <span class="last">{{ single_product.3 }}</span>
                </a>
              </li>
            </ul>
            <ul class="list list_2">
              <!--<li>
                <a href="#">Subtotal
                  <span>$2160.00</span>
                </a>
              </li>-->
              <li>
                <a href="#">Shipping Charge
                  <span>100Tk</span>
                </a>
              </li>
              <li>
                <a href="#">Total
                  <span>{{ single_product.3|int + 100 }}</span>
                </a>
              </li>
            </ul>
            <div class="payment_item">
              <div class="radion_btn">
                <input type="radio" id="f-option5" name="selector" value="cash on delivery" />
                <label for="f-option5">Cash on Delivery</label>
                <div class="check"></div>
              </div>
            </div>
            <div class="payment_item active">
              <div class="radion_btn">
                <input type="radio" id="f-option6" name="selector" value="Bikash" />
                <label for="f-option6">Biksh </label>
                <img src="img/product/single-product/card.jpg" alt="" />
                <div class="check"></div>
              </div>
            </div>
            <div class="payment_item active">
              <div class="radion_btn">
                <input type="radio" id="f-option6" name="selector" value="Nogod" />
                <label for="f-option6">Nogod</label>
                <img src="img/product/single-product/card.jpg" alt="" />
                <div class="check"></div>
              </div>
            </div>
            <!--<a class= href="/order/{{ single_product.0 }}">Confirm Order</a>-->
            <button class="btn_3" type="submit" >confirm Order</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</form>
</section>
<!--================End Checkout Area =================-->

{% endblock %}