{% extends "base.html" %}
{% block title %}Search result{%endblock %}
{% block head %}
{{ super() }}
<style type="text/css">

</style>
{% endblock %}


{% block content %}


    <!-- breadcrumb start-->

    <!--================Category Product Area =================-->
    <section class="cat_product_area section_padding">

        
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product_top_bar d-flex justify-content-between align-items-center">
                                <h1 style="color: lightseagreen;">Search result for "{{ search_name }}"</h1>
                               <!--<div class="single_product_menu">
                                    <p><span>10000 </span> Prodict Found</p>
                                </div>
                                <div class="single_product_menu d-flex">
                                    <h5>short by : </h5>
                                    <select>
                                        <option data-display="Select">name</option>
                                        <option value="1">price</option>
                                        <option value="2">product</option>
                                    </select>
                                </div>
                                <div class="single_product_menu d-flex">
                                    <h5>show :</h5>
                                    <div class="top_pageniation">
                                        <ul>
                                            <li>1</li>
                                            <li>2</li>
                                            <li>3</li>
                                        </ul>
                                    </div>
                                </div>-->
                               <!---<div class="single_product_menu d-flex">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="search"
                                            aria-describedby="inputGroupPrepend">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupPrepend"><i
                                                    class="ti-search"></i></span>
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center latest_product_inner">
                        {% for product in s_result[0:6] %}
                        {% set img = "front/img/" +product.4 %}
                        <div class="col-lg-4 col-sm-6">
                            <div class="single_product_item">
                                <img src={{ url_for("static", filename=img )}}>
                                <div class="single_product_text">
                                    <h4>{{product.1}}</h4>
                                    <h3>{{product.3}}</h3>
                                    <!--<a href="#" class="add_cart">+ add to cart<i class="ti-heart"></i></a>-->
                                    <a href="/singleProduct/{{product.0}}" class="genric-btn success">Buy</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product_list part end-->

{% endblock %}