{% extends "baseDashboard.html" %}
{% block title %}Seller Product add{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">


</style>
{% endblock %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>

    <!-- Content Row -->
    <div class="row">


    </div>




    <!-- Begin Page Content -->
    <div class="container-fluid">
        <h1 class="h3 mb-2 text-success">Add product</h1>

        <form action="/sellerAddProduct" method="post" enctype="multipart/form-data">
            <div class="form-floating">
                <textarea class="form-control" placeholder="product name" name="productName" id="floatingTextarea2" style="height: 100px"></textarea>
            </div>
            <br>
            <div class="form-floating">
                <select class="form-select" name="category" aria-label="Default select example">
                    <option selected> select category</option>
                    <option value="Furniture">Furniture</option>
                    <option value="Electronics">Electronics</option>
                    <option value="SanitarySystems">Sanitary systems</option>
                    <option value="Wall decoration">Wall decoration</option>
                    <option value="Painting">Painting</option>
                  </select>
            </div>
            <br>
    
            <div class="form-floating">
                <textarea class="form-control" placeholder="product Description" name="productDescription" id="floatingTextarea2" style="height: 100px"></textarea>
            </div>
            <br>

            <div class="form-floating">
                <textarea class="form-control" placeholder="product Price" name="productPrice" id="floatingTextarea2" style="height: 100px"></textarea>
            </div>
            <br>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
    
    
            <div class="form-floating">
                <div class="input-group mb-3">
                    <input type="file" class="form-control" name="productImage" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03" aria-label="Upload">
                  </div>
            </div>
            <br>

            
            <!--<div>
                <input type="number" placeholder="shop id" id="inputPassword5" name="shopId"class="form-control" aria-describedby="passwordHelpBlock">
            </div>-->
            <br>

            <div class="d-grid gap-2">
                <button class="btn btn-primary" type="submit">Add product</button>
            </div>



        </form>


    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->


{% endblock %}