{% extends "base.html" %}
{% block title %}seller Profile{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
.pro{
    margin-top: 100px;
}


</style>
{% endblock %}




{% block content %}


{% if "seller" in session %}
    {% set img = "front/img/" + seller.2|safe  %}
<div class="pro">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-5 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                        width="150px"
                        src={{ url_for("static", filename= img )}} ><span
                        class="font-weight-bold">shop id</span><span
                        class="text-black-50">{{session["seller"]}}</span><span> </span>
                        <form action="/sellerImageUploader" method="post"enctype="multipart/form-data">
                            <div class="input-group">
                                <input type="file" name="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                                <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">Change Image</button>
                            </div>
                        </form>
                        
                    </div>

            </div>


            <div class="col-md-6 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h3 class="text-right"> Seller Profile </h3>
                    </div>
                    <div class="row mt-3">
                        
                        <div class="col-md-12">
                            <label class="labels">shopid</label>
                            <h4 style="color: lightcoral;">{{seller.0}}</h4>
                        </div>
                        <div class="col-md-12">
                            <label class="labels">shopid</label>
                            <h4 style="color: lightcoral;">{{seller.1}}</h4>
                        </div>

                        
                    </div>
                    <div class="mt-5 text-center">
                        <a href="/sellerDashboard"><button class="btn btn-warning profile-button" type="button">dashboard</button></a>
                        <a href="/sellerLogout"><button class="btn btn-danger profile-button" type="button">Logout</button></a>
                        <a href="/changeShopPassword"><button class="btn btn-info profile-button" type="button">Change Password</button></a>
                        <a href="/changeShopName"><button class="btn btn-primary profile-button" type="button">Change Name</button></a>
                    
                    </div>
                </div>
            </div>
            <!--<div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center experience"><span>Edit
                            Experience</span><span class="border px-3 p-1 add-experience"><i
                                class="fa fa-plus"></i>&nbsp;Experience</span></div><br>
                    <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text"
                            class="form-control" placeholder="experience" value=""></div> <br>
                    <div class="col-md-12"><label class="labels">Additional Details</label><input type="text"
                            class="form-control" placeholder="additional details" value=""></div>
                </div>
            </div>-->
        </div>
    </div>
</div>
</div>
</div>

{% endif %}

{% endblock %}